<!-- Validation failure messages -->
<% if @publication.errors.any? %>
  <% @publication.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit publication #<%= @publication.id %>
</h1>

<hr>

<!-- Form publication start -->
<form action="/update_publication/<%= @publication.id %>" method="post">
<!-- Form publication end -->

  <!-- Label and input for publication_id start -->
  <div class="form-group">
    <label for="publication_id">
      Publication
    </label>

    <!-- Input for publication_id start -->
    <%= select_tag(:publication_id, options_from_collection_for_select(User.all, :id, :email, @publication.publication_id), :class => "form-control") %>
    <!-- Input for publication_id end -->
  </div>
  <!-- Label and input for publication_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update publication
  </button>
</form>

<hr>

<a href="/publications">
  Go back
</a>
