<h1>
  Add a new publication
</h1>


<hr>

<!-- Form publication start -->
<form action="/create_publication" method="post">
<!-- Form publication end -->

  <!-- Label and input for publication_id start -->
  <!-- Input for "publication_id" start -->
  <input type="hidden" name="publication_id" value="<%= current_user.id %>">
  <!-- Input for "publication_id" end -->
  <!-- Label and input for publication_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create publication
  </button>
</form>

<hr>

<a href="/publications">
  Go back
</a>
